extends ../_layouts/main

block prepend head
    - var title = siteDescription

block append head
    meta(property='og:description' content=siteDescription)
    meta(property='og:url' content=rootUrl('/'))
    meta(property='description' content=siteDescription)

block content
    .container.px-3
        .header-background
        .section-1
            img.basilisk(src=url('/images/new-basilisk-banner.png'))
    .container-wrapper
        .section-2
            .row.section-2-info-box.gx-0
                .col-lg-4
                    .info-box-wrapper
                        span.ff-sans.info-box-title=__('infobox-title-1')
                        span.info-box-content=__('infobox-content-1')

                .col-lg-4
                    .info-box-wrapper
                        span.ff-sans.info-box-title=__('infobox-title-2')
                        span.info-box-content=__('infobox-content-2')

                .col-lg-4
                    .info-box-wrapper
                        span.ff-sans.info-box-title=__('infobox-title-3')
                        span.info-box-content=__('infobox-content-3')
    h6.headline-2.hydradx-and-basilisk-title=__('hydradxAndBasilisk')
    .container-wrapper.pos-relative
        .row.hydradx-and-basilisk-wrapper
            .col-lg-6.hydradx-and-basilisk-content-wrapper
                div.hydradx-and-basilisk-text
                    span
                        | Basilisk has close ties with
                        |
                        a(href='https://hydradx.io/' target='_blank').primary-color-text hydradx.io
                        |
                        | - a project in the Polkadot ecosystem which is developing a novel type of multi-asset liquidity pool called the Omnipool.
            .col-lg-6.hydradx-and-basilisk-img-wrapper
                span.hydradx-and-basilisk-text Together, Basilisk and HydraDX create a synergy which caters to the varying liquidity needs of cryptoassets throughout their entire lifecycle. Bootstrap liquidity in the early stages using a Basilisk AMM, then move to the HydraDX Omnipool to unlock unprecedented cross-chain liquidity in an ocean of assets.
    .container-wrapper.pos-relative-mountain
        .container.px-3
            .mountain-logo-slogan
                h1.mountain-logo-slogan-text=__('mountainLogoSloganText')

            .row.build-on-basilisk-wrapper
                .col-lg-4
                .col-lg-4.build-on-basilisk
                    div.build-on-basilisk-img
                    div.btn-build-on-basilisk
                        a.btn.btn__lg(href=pageLinks.buildOnBasilisk.url target=pageLinks.buildOnBasilisk.target) BUILD ON BASILISK
                .col-lg-4
                    div.build-on-basilisk-detail-wrapper
                        div.build-on-basilisk-text=__('buildOnBasiliskText')
        div.banner-wrapper
            img(src=url('images/banner.png'))
    .container-wrapper
        .headline-2=__('roadMap')
        .container.px-3
            .table-road-map-wrapper
                table.table.roadmap
                    each one, index in roadmap
                        - var lastTaskClass = ((index === (roadmap.length - 1)) ? 'task-last' : '');
                        - var firstTaskClass = ((index === 0) ? 'task-first' : '');
                        tr(class=one ? '' : 'p-color')
                            td(class=`${firstTaskClass} ${lastTaskClass}`)
                                ul.listing
                                    li.listing__item(class=one.what === "WHAT"? 'listing__item--arrow-none':'')=one.what
                            td(class=`${firstTaskClass} ${lastTaskClass}`)
                                ul.listing.listing__no-style
                                    li.listing__item(class=one.when === "WHEN"? 'listing__item--arrow-none':'')=one.when
    script.
      const body = document.body;
      const scrollUp = "scroll-up";
      const scrollDown = "scroll-down";
      const headerHeight = document.querySelector('.header__placeholder').offsetHeight;
      let lastScroll = 0;

      window.addEventListener("scroll", () => {
        const currentScroll = window.pageYOffset;
        if (currentScroll <= 0) {
          body.classList.remove(scrollUp);
          body.classList.remove('scroll');
          return;
        }

        if (currentScroll > lastScroll && !body.classList.contains(scrollDown)) {
          // down
          body.classList.remove(scrollUp);
          body.classList.add(scrollDown);
          if (currentScroll > headerHeight) {
            body.classList.add('scroll');
          }
        } else if (
          currentScroll < lastScroll &&
          body.classList.contains(scrollDown)
        ) {
          // up
          body.classList.remove(scrollDown);
          body.classList.add(scrollUp);

        }
        lastScroll = currentScroll;
      });
